@charset "UTF-8";
/*
Напоминалка
mm: margin: 0px 0px 0px 0px;
pp: padding:0px 0px 0px 0px;
*/
html {
  height: 100%;
}

body {
  font-family: Lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__list {
  list-style: none;
}

.header__list-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 17px;
  color: darkblue;
}

.header__list-link:hover {
  font-size: 16px;
  line-height: 12px;
  color: #6b6bff;
}
