@charset "UTF-8";
/*
Напоминалка
mm: margin: 0px 0px 0px 0px;
pp: padding:0px 0px 0px 0px;
m0a: margin: 0px auto;
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Lato;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: #222222;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  list-style-type: none;
  margin: 20px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  margin-right: 41px;
}

.menu__item:nth-child(1) {
  margin-right: 33px;
}

.menu__item:nth-child(2) {
  margin-right: 33px;
}

.menu__item:nth-child(3) {
  margin-right: 33px;
}

.menu__item:nth-child(4) {
  margin-right: 33px;
}

.menu__item:nth-child(5) {
  margin-right: 33px;
}

.menu__link {
  text-decoration: none;
}

.menu__svg {
  fill: #e8e8e8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu__svg:hover {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  fill: #f16d7f;
}

.promo {
  background-color: #f1e4e6;
}

.promo__container {
  height: 765px;
  background-image: url("../img/promo__man.png");
  background-repeat: no-repeat;
  background-position: -223px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: -331px;
}

.promo__header {
  font-size: 32px;
  line-height: 38px;
  border-left: 12px solid #f16d7f;
  padding: 0px 0px 0px 16px;
}

.promo__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 5.8px;
  color: #222222;
}

.promo__subtitle {
  font-size: 32px;
  line-height: 3.8px;
  color: #222222;
}

.promo__pink {
  color: #f16d7f;
}

.categories__container {
  padding-top: 65px;
}

.categories__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.list__item {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.list__item:hover .list__hover {
  cursor: pointer;
  opacity: 1;
}

.list__item:hover .list__header {
  display: none;
}

.list__item:first-child {
  background-image: url("../img/cat-women.png");
}

.list__item:nth-child(2) {
  background-image: url("../img/cat-men.png");
}

.list__item:nth-child(3) {
  background-image: url("../img/cat-kids.png");
}

.list__item:last-child {
  background-image: url("../img/cat-trend.png");
  width: 100%;
  height: 180px;
}

.list__header {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.list__subtitle {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.list__hover {
  width: 360px;
  height: 260px;
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  text-align: center;
  padding-top: 120px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.trend__hover {
  width: 100%;
  height: 180px;
  padding-top: 80px;
}

.trend__link {
  width: 139px;
  outline: 1px solid #f16d7f;
  padding: 15px 80px;
  text-decoration: none;
  font-size: 20px;
  line-height: 12px;
  color: #f16d7f;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.trend__link:hover {
  outline: 1px solid #813535;
  background-color: #813535;
  font-size: 20px;
  line-height: 12px;
  color: #fff;
}

.hover__link {
  width: 139px;
  outline: 1px solid #f16d7f;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 20px;
  line-height: 12px;
  color: #f16d7f;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.hover__link:hover {
  background-color: #f16d7f;
  font-size: 20px;
  line-height: 12px;
  color: #fff;
}

.product {
  margin: 96px 0px 95px 0px;
}

.product__info {
  text-align: center;
}

.product__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.product__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 47px;
}

.product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.product__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.product__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 15px 40px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.product__link:hover {
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #f16d7f;
  color: white;
}

.card__box {
  cursor: pointer;
  position: relative;
}

.card__box:hover .product__hover {
  opacity: 1;
}

.card__box-info {
  width: 316px;
  padding: 18px 20px;
}

.card__box-title {
  font-size: 13px;
  line-height: 16px;
  color: black;
  margin-bottom: 12px;
}

.card__box-subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.card__box-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product__hover {
  padding: 180px 0px 108px 80px;
  width: 360px;
  height: 420px;
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.product__hover-link {
  vertical-align: center;
  text-decoration: none;
  font-size: 45px;
  line-height: 23px;
  color: #f16d7f;
  outline: 1px solid #f16d7f;
  padding: 6px 70px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.product__hover-link:hover {
  font-size: 45px;
  line-height: 23px;
  color: #fff;
  background-color: #f16d7f;
}

.feauters {
  background-color: #222222;
}

.feauters__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 103px 0px;
}

.feauters__card {
  width: 360px;
  height: 133px;
}

.feauters__title {
  text-align: center;
  font-size: 19px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
}

.feauters__info {
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  color: #fbfbfb;
}

.feauters__icon {
  text-decoration: none;
  color: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 47px;
  cursor: default;
  margin-bottom: 28px;
}

.feedback {
  background-image: url("../img/feedback-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 96px 0px 156px 0px;
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__women {
  width: 362px;
  text-align: center;
}

.feedback__img {
  margin: 0px 0px 30px 0px;
}

.feedback__info {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.subscribe__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #222224;
}

.subscribe__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 32px;
}

.subscribe__input {
  margin-top: 32px;
  background: #e1e1e1;
  border: none;
  outline: none;
  padding: 18px 22px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #f16d7f;
}

.subscribe__btn {
  display: inline-block;
  background: #f16d7f;
  padding: 18px 22px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.footer {
  background-color: #222222;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0px auto;
}
