/*
Напоминалка
mm: margin: 0px 0px 0px 0px;
pp: padding:0px 0px 0px 0px;
m0a: margin: 0px auto;
*/

//Переменные
@import "_other/_var";

//Миксины
@import "_other/_mix";
// Основные свойства
@import "_other/gen";

//Главное меню
@import "_other/head";

//Промо сайта
@import "_other/promo";

//Категории
@import "_other/categories";

@import "_other/product";

//Преимущества
@import "_other/feauters";

// Отзывы
@import "_other/feedback";

//Футер
@import "_other/footer";

//! Мужской каталог

.catalog-promo {
	background-color: $promo__bg;
	padding: 60px 0px;

	&__title {
		@include font__style(24px, 29px, $pink);
		position: relative;
		animation-name: anim-title;
		animation-duration: 1.5s;
	}

	&__list {
		list-style-type: $null__list;
		display: flex;
		animation-name: anim-caty;
		animation-duration: 1.5s;
		position: relative;
	}
	&__item {
		margin-right: 7px;

		&:nth-child(1):after {
			content: "  /";
			margin-left: 7px;
		}
		&:nth-child(2):after {
			content: "  /";
			margin-left: 7px;
		}
	}

	&__link {
		text-decoration: $null__link;
		@include font__style(14px, 17px, #636363);

		&:hover {
			color: $pink;
		}
	}

	&__active {
		color: $pink;
		font-weight: bold;
	}
}

.catalog-promo__container {
	display: flex;
	justify-content: space-between;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
}

@keyframes anim-title {
	0% {
		right: 500px;
	}

	100% {
		right: 0px;
	}
}
@keyframes anim-caty {
	0% {
		left: 500px;
	}

	100% {
		left: 0px;
	}
}
