/*
Напоминалка
mm: margin: 0px 0px 0px 0px;
pp: padding:0px 0px 0px 0px;
m0a: margin: 0px auto;
*/

//Переменные
@import "_other/_var";

//Миксины
@import "_other/_mix";
* {
	padding: 0;
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	font-family: Lato;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.header {
	background-color: $dark__bg;
}
.header {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		list-style-type: $null__list;
		margin: 20px 0px;
	}
}
.menu {
	display: flex;
	align-items: center;

	&__logo {
		margin-right: 41px;
	}
	&__item {
		&:nth-child(1) {
			margin-right: 33px;
		}
		&:nth-child(2) {
			margin-right: 33px;
		}
		&:nth-child(3) {
			margin-right: 33px;
		}
		&:nth-child(4) {
			margin-right: 33px;
		}
		&:nth-child(5) {
			margin-right: 33px;
		}
	}

	&__link {
		text-decoration: $null__link;
	}

	&__svg {
		fill: #e8e8e8;

		&:hover {
			fill: $pink;
		}
	}
}

.promo {
	background-color: $promo__bg;

	&__container {
		height: 765px;
		background-image: url("../img/promo__man.png");
		background-repeat: no-repeat;
		background-position: -223px bottom;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		margin-right: -331px;
	}

	&__header {
		font-size: 32px;
		line-height: 38px;
		border-left: 12px solid $pink;
		padding: 0px 0px 0px 16px;
	}
	&__title {
		font-weight: 900;
		@include font__style(48px, 5.8px, #222222);
	}
	&__subtitle {
		@include font__style(32px, 3.8px, #222222);
	}
	&__pink {
		color: $pink;
	}
}

.main {
	flex: 1 1 auto;
}

.footer {
	background-color: $dark__bg;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
}
