.feedback {
	background-image: url("../img/feedback-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 96px 0px 156px 0px;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__women {
		width: 362px;
		text-align: center;
	}

	&__img {
		margin: 0px 0px 30px 0px;
	}

	&__info {
		font-family: Lato;
		font-style: italic;
		font-weight: 400;

		@include font__style(20px, 24px, #000);
	}
}

.subscribe {
	&__title {
		text-align: center;
		font-weight: 700;
		@include font__style(24px, 30px, #222224);
	}
	&__subtitle {
		@include font__style(18px, 30px, #222224);
		margin-bottom: 32px;
	}

	&__input {
		margin-top: 32px;
		background: #e1e1e1;
		border: none;
		outline: none;
		padding: 18px 22px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		color: $pink;
	}

	&__btn {
		display: inline-block;
		background: #f16d7f;
		padding: 18px 22px;
		outline: none;
		border: none;
		@include font__style(14px, 17px, #fff);
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		cursor: pointer;
	}
}
