* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: Lato;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}
